<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='user in users | filter: searchBirthdays'>
      <td>{{user.first_name}} {{user.last_name}}</td>
      <td><a href="#/friends/{{user._id}}">show</a></td>
      <td><a href="#/friends/{{user._id}}/edit">edit</a></td>
      <td><button ng-click='delete(user._id)'>delete</button></td>
    </tr>
  </tbody>
</table>
<br>
<input type="date" ng-model="searchBirthdays">
<br>

<!--- LABEL GOES INSIDE ANCHOR TAG --->
<button><a href="#/friends/new">New Friend</a></button>
